body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wbdv-color-danger {
  color: red;
}

.wbdv-color-primary {
  color: #0275d8;
}

.wbdv-color-blue {
  color: blue;
}

.wbdv-color-black {
  color: black;
}

.wbdv-color-success {
  color: darkgreen;
}

.wbdv-color-white {
  color: white;
}

h1{
  margin:0;
  padding:0;
  vertical-align:middle; /*middle centred*/
  display:table-cell; /*acts like a table cell*/
}

.wbdv-hidden {
  display: none;
}

.wbdv-show {
  display: block;
}

.wbdv-tab {
  padding-right: 5px;
  padding-left: 5px;
}

.wbdv-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.wbdv-bottom {
  position: absolute;
  bottom: 8px;
  width: 100%;
}

.wbdv-bottom-right {
  position: fixed;
  bottom: 8px;
  right: 8px;
}
